PORT=3000
#DB_ADDRESS: mongodb://root:example@mongo:27017/ - использовть эту переменную окружения, если запускаем в Docker
DB_ADDRESS=mongodb://127.0.0.1:27017/weblarek
UPLOAD_PATH=images
UPLOAD_PATH_TEMP=temp
ORIGIN_ALLOW=http://localhost:5173
AUTH_REFRESH_TOKEN_EXPIRY=7d
AUTH_ACCESS_TOKEN_EXPIRY=10m
JWT_SECRET=e75f62f9704247f135ec3bb78c3aa580d4e1c6a97459ce205101537c864e5e9723106db11796c69273f1c6d488acd9f1

PUBLIC_PATH=public
UPLOAD_MAX_SIZE=5242880
UPLOAD_TEMP_MAX_AGE=24h
UPLOAD_CLEANUP_CRON=0 * * * *
